BasedOnStyle: LLVM
ColumnLimit: 100
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
IncludeBlocks: Regroup
IncludeIsMainRegex: '$^'
IncludeCategories:
  - Regex: '^<(CLI/.*|fcntl\.h|poll\.h|pthread\.h|signal\.h|termios\.h|unistd\.h|sys/.*)>'
    Priority: 2
  - Regex: '^<'
    Priority: 1
  - Regex: '^"(Vtara_.*|tara\.h|sail\.h|verilated.*)"$'
    Priority: 2
  - Regex: '.*'
    Priority: 3
